@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* Fondo claro */
  --foreground: #000000;
  /* Texto oscuro */
}

[data-theme="dark"] {
  --background: #111827;
  /* Fondo oscuro */
  --foreground: #ffffff;
  /* Texto claro */
}